/* global styles*/

/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

body {
    width: 100vw;
    height: 100vh;

    align-items: center;
    justify-content: space-evenly;

    margin: 0;

    font-family: 'Darumadrop One', sans-serif;
    color: #282828;
}

body,
.row,
.close,
.respondBox {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: #282828;
}

p {
    text-align: center;
    font-size: medium;
}

/* Menu Icons */
#aboutMe {
    background: #B4D0B7;
}

#education {
    background: #BBC5CD;
}

#technicalStack {
    background: #9FA7AD;
}

#experiences {
    background: #BFDCC2;
}

#projects {
    background: #ADB8B6;
}

#contactMe {
    background: #BBCDCA;
}

/* Small Icon Menu */
.smallIcon, 
.smallIconName {
    margin: 1vw;
}

.smallIcon {
    width: 6vw;
    height: 6vw;
    aspect-ratio: 1/1;

    border-radius: 25%;
}

.smallIcon>img,
.smallIcon:hover+.smallIconName,
.windowBar {
    width: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
}

.smallIcon:hover+.smallIconName {
    width: 20vw;
}

.smallIconName {
    border-radius: 1vw;

    display: none;
    position: absolute;
    transform: translateX(9vw);
    z-index: 1;
}


/* Chat Window */
.window,
.chatWindow {
    display: flex;
    flex-direction: column;
}

.window {
    width: 62vw;
    height: 80vh;
    border-radius: 1vh;

    align-items: center;
    justify-content: space-between;

    background: #C1CBD3;
}

/* Chat Window Tool Bar */
.windowBar {
    width: inherit;
    height: 5vh;

    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    background: #6E7478;

    justify-content: flex-end;
    position: absolute;
}

.min,
.close {
    width: 1.5vw;
    margin-right: 3vh;
}

.min {
    height: .3vh;
    background: white;
}

.material-symbols-outlined {
    color: white;
}

.chatWindow {
    width: 60vw;
    height: 47vh;

    margin-top: 6vh;

    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* Scrollbar Styling */
/* Width */
::-webkit-scrollbar {
    width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6E7478;
    border-radius: .25vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6E7478;
}

/* Chat Bubbles Styling */
.chatBubbleQuestion,
.chatBubbleResponse,
.chatBubbleRespondQuestion,
.chatBubbleImg {
    width: fit-content;
    height: auto;
    border-radius: 2vw;
    padding: 1vw 1.5vw;
    margin: 1vw;
}

.chatBubbleQuestion,
.chatBubbleRespondQuestion {
    margin-right: 1vw;
    text-align: center;
    background: #D4E5FF;
    align-self: flex-start;
}

.chatBubbleResponse,
.chatBubbleImg {
    max-width: 35vw;
    margin-left: 1vw;
    text-align: left;
    background: #9FA7AD;
    align-self: flex-end;

    opacity: 0;
    animation: fadeIn .5s ease .5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        /* Animate the opacity to 1 */
    }
}

.chatBubbleImg {
    background: black;
}

.respondBox {
    width: 60vw;
    height: 24vh;
    margin-bottom: 2vh;
    border-radius: 1vh;
    background: #F1F9FF;
    align-items: flex-start;
}

.chatBubbleRespondQuestion {
    margin-left: 1vw;
    margin-top: 1vh;
    cursor: pointer;
}