.union {
    position: relative;
}

/* Shared Properties Btw Chat Bubble + Icons */
.helloChat,
.icons,
.back {
    display: flex;
    justify-content: center;
    align-items: center;
}

.helloChat {
    width: 25vw;
    height: 5vh;
    background: #D4E5FF;
    border-radius: 24.14px
}

.chatTriangle {
    border-style: solid;
    border-color: transparent transparent transparent #D4E5FF;
    border-width: 2vw 0 0 2vh;
    position: absolute;
    transform: rotate(-100deg);
    bottom: -6px;
}

.icons {
    width: 10vw;
    aspect-ratio: 1 / 1;    
    border-radius: 25px;
    margin: .75vw;

    perspective: 1000px; /* For 3D Effect */
    transition: transform 1s;
    transform-style: preserve-3d;
}

img {
    width: inherit;
}

.icons:hover,
.back {
    transform: rotateY(180deg);
}

.front {
    transform: translateY(0.45vh);
}

.front, .back {
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    color: black;
}

