/* global styles*/

/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

body {
    width: 100vw;
    height: 100vh;

    align-items: center;
    justify-content: space-evenly;

    margin: 0;

    font-family: 'Darumadrop One', sans-serif;
    color: #282828;
}

body,
.row,
.close {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

p {
    text-align: center;
    font-size: medium;
}

/* Menu Icons */
#aboutMe {
    background: #BFDCC2;
}

#technicalStack {
    background: #BBC5CD;
}

#experiences {
    background: #BBCDCA;
}

#contactMe {
    background: #BFDCC2;
}

#education {
    background: #9FA7AD;
}

#projects {
    background: #ADB8B6;
}

/* Small Icon Menu */
.smallIcon {
    width: 6vw;
    height: 6vw;
    aspect-ratio: 1/1;
    border-radius: 25%;
    margin: 1vw;

    gap: 20px;
}

.smallIcon>img,
.windowBar,
.smallIcon:hover+.smallIconName {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallIconName {
    display: none;
    width: 25vw;
    height: 6vw;
    margin: 1vw;
    border-radius: 1vw;
    z-index: 1;
    transform: translateX(9vw);
    position: absolute;
}

.smallIcon:hover+.smallIconName {
    width: 20vw;
}

/* Chat Window */

.window,
.chatWindow {
    display: flex;
    flex-direction: column;
}

.window {
    width: 62vw;
    height: 80vh;
    border-radius: 1vh;

    align-items: center;
    justify-content: space-between;

    background: #C1CBD3;
}

.windowBar {
    width: inherit;
    height: 5vh;
    justify-content: flex-end;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    background: #6E7478;

    position: absolute;
}

.min,
.close {
    width: 1.5vw;
    margin-right: 3vh;
}

.min {
    height: .3vh;
    background: white;
}


.material-symbols-outlined {
    color: white;
}

.chatWindow {
    width: 60vw;
    height: 47vh;

    margin-top: 6vh;

    overflow: scroll;
    overflow-x: hidden;

}

/* width */
::-webkit-scrollbar {
    width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6E7478;
    border-radius: .25vw;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6E7478;

}

.chatBubbleQuestion,
.chatBubbleResponse,
.chatBubbleRespondQuestion,
.chatBubbleImg {
    width: fit-content;
    height: auto;

    border-radius: 2vw;
    padding: 1vw 1.5vw;

    margin: 1vw;
}

.chatBubbleQuestion,
.chatBubbleRespondQuestion {
    margin-right: 1vw;
    text-align: center;

    align-self: flex-start;

    background: #D4E5FF;
}

.chatBubbleResponse,
.chatBubbleImg {
    max-width: 35vw;
    margin-left: 1vw;
    text-align: left;

    align-self: flex-end;

    background: #9FA7AD;

    opacity: 0;
    /* Start with opacity 0 to hide the element */
    animation: fadeIn .5s ease .5s forwards;
    /* Apply the animation */
}

.chatBubbleImg {
    background: black;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        /* Animate the opacity to 1 */
    }
}

.experienceWindow {
    width: 60vw;
    height: inherit;
    margin-top: 6vh;
    overflow: scroll;
    overflow-x: hidden;
}

.experience {
    width: auto;
    margin: 1vw 1.5vw;
    padding: 1vw 1.5vw;
    border-radius: 2vw;

    text-align: left;
    background: #9FA7AD;

}

.respondBox {
    width: 60vw;
    height: 24vh;
    margin-bottom: 2vh;
    border-radius: 1vh;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    background: #F1F9FF;
}

.chatBubbleRespondQuestion {
    margin-left: 1vw;
    margin-top: 1vh;
    cursor: pointer;
}